@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    font-family: "RL";
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* HEADER START */

.header {
    height: 700px;
    background: url("../images/header_bg.jpg") center /cover;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header__content h1 {
    font-size: 70px;
    font-family: "RB";
    color: #404040;
    line-height: 53px;
    margin-top: 34px;
}

.header__content h2 {
    font-size: 50px;
    color: #70869d;
    font-family: "RL";
    line-height: 47px;
}

/* HEADER END */

/* MAIN START */

.main__content-item {
    display: flex;
    max-width: 540px;
    width: 100%;
    margin-bottom: 100px;
}

.item__text {
    margin-top: 12px;
    margin-left: 30px;
}

.item__text h3 {
    font-size: 18px;
    font-family: "RB";
    line-height: 17px;
    color: #1f3750;
    margin-top: 10px;
}

.item__text p {
    color: #70869d;
    font-size: 16px;
    line-height: 25px;
}

.item__link {
    font-size: 16px;
    color: #70869d;
    display: block;
    text-align: center;
    max-width: 160px;
    width: 100%;
    background: #f2f2f2;
    padding: 12px 0;
}

.item__link:hover {
    color: #fff;
    background: #0092b6;
    transition: 300ms;
}

.main__content {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* MAIN END */

/* ARTICLE START */

.article {
    margin-bottom: 50px;
}

.article__content {
    width: 100%;
    background: #f3f9ff;
    justify-content: space-around;
}

.article__content-item {
    max-width: 202px;
    width: 100%;
}

.article__content-item h3 {
    max-width: 171px;
    width: 100%;
    color: #1f3750;
    font-size: 16px;
    font-family: "RB";
    text-align: center;
    line-height: 27px;
    margin: 49px auto 35px;
}

.article__content-img {
    margin-bottom: 29px;
}

.article__content-item p {
    font-size: 16px;
    color: #70869d;
    line-height: 25px;
}

.article__link {
    display: inline-block;
    color: #1f3750;
    font-size: 16px;
    font-family: "RB";
    border-bottom: 2px solid #87929f;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* ARTICLE END */

/* LOCATIONS START */

.locations {
    margin-bottom: 100px;
}

.locations__content h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: #1f3750;
}

.locations__content-links {
    display: block;
    color: #70869d;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 12px;
}

.locations__content-links:hover {
    color: #0092b6;
}

.locations__content-items {
    justify-content: space-between;
}

.locations__content .footer__nav-right,.locations__content .footer__nav-left {
    width: 50%;
}

/* LOCATIONS END */


/* FOOTER START */

.footer {
    background: #f3f9ff;
}

.footer__content {
    width: 100%;
    justify-content: space-between;
    padding: 43px 0;
}

.footer__left p {
    color: #444;
    font-size: 20px;
    font-family: "RB";
}

.footer__nav-link {
    color: #6d6d6d;
    font-size: 14px;
    margin-left: 30px;
}

.footer__nav-link:hover {
    color: #363535;
}

/* FOOTER END */